/* color and text for the page*/

body {
    background-color: lightgrey;
    font-family: "Roboto", sans-serif;
    color: #37434e;
}

/* heading */

.heading {
    text-align: center;
    font-size: 5px;
}

.logo {
    height: 40px;
    padding-left: 20px;
}

/* the game area */

.game-area {
    background-color: yellowgreen;
    box-sizing: border-box;
    border-radius: 25px;
    width: 90%;
    height: 400px;
}

/* controls area */

.btn {
    margin: 10px 10px 10px 10px;
    text-align: center;
}

.btn img {
   display: inline-block;
   margin: 2px 2px 2px 2px;
   width: 80px;
   height: 80px;
    }

.btn img:hover {
    color: #e0a22f;
    background-color: #37434e;
}


/* footer with results*/

.footer {
    background-color: #e0a22f;
    position: absolute;
    width: 90%;
    box-sizing: border-box;
    border-radius: 25px;
    height: 100px;
}

.results-area {
    float: left;
    text-align: center;
    padding: 30px 30px 30px 30px;
    margin: 25px 0 0 25px;
}

/* media queries */

