/* color and text for the page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: lightgrey;
    font-family: "Roboto", sans-serif;
    color: #37434e;
}

/* heading */

.heading {
    text-align: center;
    font-size: 5px;
}

.logo {
    height: 40px;
    padding-left: 20px;
}

/* the game area */

.game-area {
    background-color: yellowgreen;
    box-sizing: border-box;
    border-radius: 25px;
    width: 90%;
    height: 300px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.game-area-h2 {
    padding-left: 20px;
    padding-top: 10px;
}

/* controls area */

.btn {
    margin: 10px 10px 10px 10px;
    text-align: center;
}

.btn img {
   display: inline-block;
   margin: 2px 2px 2px 2px;
   width: 90px;
   height: 90px;
 }

.btn img:hover {
    color: #e0a22f;
    background-color: #37434e;
}

/* results area*/

.results-area {
    text-align: center;
    padding: 30px 30px 30px 30px;
    margin: 25px 0 0 25px;
    box-sizing: border-box;
    width: 90%;
}

.player {
    float: left;
}

#player-image {
        display: inline-block;
        margin: 2px 2px 2px 2px;
        width: 80px;
        height: 80px;
}

.computer {
    float: right;
}

#computer-image {
    display: inline-block;
    margin: 2px 2px 2px 2px;
    width: 80px;
    height: 80px;
}

/* footer with score*/

.footer {
    background-color: #e0a22f;
    position: absolute;
    width: 90%;
    box-sizing: border-box;
    border-radius: 25px;
    height: 150px;
    margin-left: 5px;
}

.score-div {
    padding-left: 20px;
    margin-top: 5px;
    text-align: left;
}

/* media queries */

